@media (max-width: 1028px) {
  html{
    font-size: 12px;
  }

}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h2{
  font-size: 2.5rem;
  font-weight: bold;
}
h3{
  font-size: 1.5rem;
  font-weight: bold;
}
/* section style */
.colored-section{
  color: white;
  background-color: #ff4c68;
}
.white-section{
  background-color: white;
}
/* container layout */
.container-fluid{
  padding: 3% 15% 5%;
}
/* navigation bar */
.navbar-bg{
  background-color: #8f8f8f;
  opacity: 0.8;
}
.navbar-brand{
  font-size: 2.5rem;
  font-family: "Ubuntu";
  font-weight: bold;
  padding-left: 0;
}
.nav-item{
  padding:0 1rem;
}
.nav-link{
  font-size: 1.2rem;
  font-weight: 400;
}
/* slogan */
.slogan{
  font-size: 3rem;
  line-height: 1.5;
  margin: 10% 0 10% 0;
  font-weight: 900;
}
.homePage{
  text-align: left;
}
/* app prototype */
.title-image{
  transform: rotate(25deg);
  width: 20%;
  right: 25%;
  top:25%;
  position: absolute;
}
/* features section */
.section-style{
  padding: 7% 15%;
}
.features{
  position: relative;
}
/* feature icon */
.features i{
  color:#ef8172;
  font-size: 4rem;
  margin: 5% auto;
}
.features i:hover{
  color:#ff4c68;
}
/* feature title */
.features p{
  color: #8f8f8f;
  padding: 2% 5%;
  font-weight: 400;
}
/* testimonials */
#testimonials,#press{
  background-color: #ef8172
}
.testimonials-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.press{
  padding-bottom: 3%;
}
.press img{
  width: 12%;
  margin: 3%;
}
/* Pricing Section*/
.pricing p{
  color: #8f8f8f;
  font-weight: 500;
}
.pricing-col{
  padding:3% 2%;
}
/* call To Action Section */
.cta-title{
  font-size: 3rem;
  margin-bottom: 5%;
}

/* Footer */
.footer{
  padding: 3% 15%;
}
.footer i{
  font-size: 1.2rem;
  margin: 2%;
}
.footer p{
  color: #8f8f8f;
}

@media (max-width: 1028px) {
  .homePage {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
    width: 80%;
    margin-top: 5%;
  }

}
